p {
  color: black;
  font: ariel;
  font-size: 12;
}
header {
  display: block;
  background-color: red;
}
header h1 {
  padding: 0px;
  margin: 0px;
}
header img {
  width: 100%;
}
main {
  display: block;
  background-color: orange;
  float: left;
  width: 70%;
}
aside {
  display: block;
  background-color: yellow;
  float: right;
  width: 30%;
}
footer {
  display: block;
  background-color: green;
  clear: both;
}

nav {
  display: block;
  background-color: white;
}

nav a:link, nav a:visited {
  color: grey;
}

nav a:active, nav a:hover {
  color: black;
}
