body {
  display: block;
  margin: 0;
}

p {
  color: black;
  font: ariel;
  font-size: 12;
}
header {
  display: block;
  background-color: red;
  clear: both;
}
header h1 {
  padding: 0px;
  margin: 0px;
}
#katie {
  width: 100%;
  display: block;
}
main {
  display: block;
  background-color: orange;
  float: left;
  width: 70%;
}
aside {
  display: block;
  background-color: yellow;
  float: right;
  width: 30%;
}
footer {
  display: block;
  background-color: green;
  clear: both;
}
footer p {
  margin: 0;
}

#logo-div {
  width: 100%;
  display: block;

}

#logo {
  display: block;
  width: 200px;
  margin: auto;
}

nav {
  display: block;
  background-color: white;
}

nav a {
  display: block;
  float: left;
  padding: 20px;
  background-color: yellow;
  margin: 0 10px 0 0;
  border-width: thick;
  border-style: outset;
  border-color: purple;
  text-decoration: none;
}

nav a:link, nav a:visited {
  color: grey;
}

nav a:active, nav a:hover {
  color: black;
}

nav a:hover {
  border-style: ridge;
  background-color: green;
}

nav a:active {
  border-style: inset;
}
