body {
  display: block;
  margin: 0;
}

p {
  color: black;
  font: ariel;
  font-size: 12;
}
header {
  display: block;
  background-color: red;
  clear: both;
}
header h1 {
  padding: 0px;
  margin: 0px;
}
#katie {
  width: 100%;
  display: block;
  /* animation: opac 0.8s; */
}
#evan {
  width: 100%;
  display: none;
  /* animation: opac 4s; */
}
/* .w3-animate-opacity {
  animation:opac-out 4s;
}
@keyframes opac-out{
      from{opacity:1}
      to{opacity:0}
    }
@keyframes opac-in{
    from{opacity:0}
    to{opacity:1}
  } */
main {
  display: block;
  background-color: orange;
  float: left;
  width: 70%;
  height: 300px;
  overflow: scroll;
  /* flex: 1;
  flex-basis: 30%; */
}
main p, h1 {
  padding: 10px;
}
.test {
  font-weight: bold;
}
.test2 {
  text-decoration: line-through;
}
#star {
  fill: lime;
  stroke: purple;
  stroke-width: 5;
  fill-rule: evenodd;
}
aside {
  display: block;
  background-color: yellow;
  float: right;
  width: 30%;
  height: 300px;
  /* flex: 1; */
}
/* #flexbox {
  display: flex;
  width: 100%;
} */
@media only screen and (max-width: 600px) {
  .topnav a:not(.active) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  main, aside {
    float: left;
    width: 100%;
  }
}
footer {
  display: block;
  background-color: green;
  clear: both;
  text-align: center;
}
footer p {
  margin: 0;
}
details summary::-webkit-details-marker {
  background: url("images/logo.png") center no-repeat;
  color: transparent;
  /* display: none; */
}
summary:after {
  background-image: url("images/logo.png");
  float: left;
  height: 20px;
  width: 20px;
  content: " ";
}
details[open] summary:after {
  background: url("images/logo.png");
}
#logo-div {
  width: 100%;
  display: block;

}

#logo {
  display: block;
  width: 200px;
  margin: auto;
}

nav {
  display: block;
  background-color: white;
  overflow: hidden;
}

nav a {
  display: block;
  float: left;
  padding: 20px;
  background-color: yellow;
  margin: 0 10px 0 0;
  border-width: thick;
  border-style: outset;
  border-color: purple;
  text-decoration: none;
}
.active {
  background-color: green;
}

.topnav .icon {
  display: none;
}

nav a:link, nav a:visited {
  color: grey;
}

nav a:active, nav a:hover {
  color: black;
}

nav a:hover {
  border-style: ridge;
  background-color: green;
}

nav a:active {
  border-style: inset;
}

ul {
  list-style-type: none;
}

body {
  background-color: lightblue;
}
